.dashboard-graph{
    flex: 1 0 auto;
    margin:0.5em;
    background-color: #fff;
    box-shadow: 10px 10px 10px #ccc;
}
.dashboard-flex-container {
    display: flex;
    width: 100%;
}

.svg-area{
    height: 350px;
}

.svg-labelText{
    font-size: 40px;
    font-weight: bold;
}