.modal-dialog,
.modal-content {
    height: 160px;
    max-height: 80vh;
}

.modal-body {
    /* 100% = dialog height, 120px = header + footer */
    max-height: calc(100% - 120px);
    overflow-y: scroll;
}